#
#emulador android = http://10.0.2.2:{}
#simulador ios = localhost: {}
#app expo = http://{ipmaquina}:porta
EXPO_PUBLIC_API=http://localhost:5297/api
EXPO_PUBLIC_TOKEN_KEY=SENHA_SUPER_SECRETA_CRIACAO_DA_CHAVE_JWT_32
