# Formas de endereço da API
# Emulador Android: http://10.0.2.2:{PORTA}
# iOS Simulator / Web: http://localhost:{PORTA}
# App Expo: http://{IPDAMAQUINA}:{PORTA}


EXPO_PUBLIC_API=http://10.0.2.2:{PORTA}