# Formas de endereço da API
# Emulador Android: http://10.0.2.2:{PORTA}
# iOS Simulator / Web: http://localhost:{PORTA}
# App Expo: http://{IPDAMAQUINA}:{PORTA}


EXPO_PUBLIC_API_URL=http://10.0.2.2:5015/api/
EXPO_PUBLIC_API_IMG_URL=http://10.0.2.2:5015  # ai passa o caminho na service dps
EXPO_PUBLIC_API=http://10.0.2.2:{PORTA}
EXPO_PUBLIC_API=http://10.0.2.2:{PORTA}
EXPO_PUBLIC_PUBLIC_TOKEN_KEY=
