#CONNECTION_STRING=Server=localhost,1433;Database=JussaCalls2;User Id=sa;Password=?;Encrypt=True;TrustServerCertificate=True;
#JWT_KEY=SENHA_SUPER_SECRETA_CRIACAO_DA_CHAVE_JWT_32

# CONNECTION_STRING=Server=(localhostdb)\\MSSQLLocalDb;Database=JussaCalls2;Trusted_Connection=True;TrustServerCertificate=True
# JWT_KEY=32CharacterSecretKey12345678901234567890

#dotnet ef dbcontext scaffold "Server=localhost,1433;Database=JussaCalls2;User Id=sa;Password=Developer123@;TrustServerCertificate=True" Microsoft.EntityFrameworkCore.SqlServer -o Domains --context-dir Contexts --use-database-names --no-pluralize
#Scaffold-DbContext "Server=localhost;Database=JussaCalls2;Trusted_Connection=True;TrustServerCertificate=True" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Domains -ContextDir Contexts -UseDatabaseNames -NoPluralize
